{% extends 'base.html' %}

{% comment %} Un comentario cualquiera {% endcomment %}

{% block titulo %} Inicio {% endblock %}

{% block encabezado %}
	<h1>Recetario!!!</h1>
{% endblock %}

{% block contenido_lista%}
	<p>Actualmente tenemos registrados:
		{% with total=recetas.count %}
			{{ total }} receta{{ total|pluralize }}
		{% endwith %}
	</p>

	<ul>
		{% for dato in recetas %}
		<li class ='{% cycle 'par' 'impar' %}'>
			{{ dato.titulo }}
		</li>
		{% empty %}
		<li>
			No hay recetas registradas.
		</li>
		{% endfor %}
	</ul>
{% endblock %}
